@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    display: grid;
    place-items: center;
    flex-direction: column;
    width: 100%;
    background-image: url('/bg-retropop.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

#root {
    width: 100%;
}
